<h1 class="mean">EDIT</h1> <h1 class="girls">HOTTIE</h1>
<br><br>
<%= render 'form', page: @page %>
<%= render @page.comments %>
<%= render @page.likes %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
